.search-ctn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 20px;
    position: relative;
    padding: 0 12px;
}

.search-input {
    box-sizing: border-box;
    height: 32px;
    padding: 4px 16px 4px 12px;
    border: 1px solid #c3c0c7;
    border-radius: 2px;
}

.search-tags {
    height: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-add-task {
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    right: 12px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-options {
    position: absolute;
    top: 100%;
}
