.profile-dropdown {
  position: absolute;
  right: 0;
  background-color: #181A1B;
  color: #B5AF8A;
}

.hidden {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #36205D;
  height: 40px;
  padding: 8px 16px;
}

.nav-home {
  font-family: 'Press Start 2P', cursive;
  color: #FFFFFF;
}
