.daily-edit-ctn {
    width: 400px;
    color: #C6C1BA;

    /* overflow-y: scroll; */
    /* max-height: 90vh; */

    /* padding: 24px 12px; */
    /* box-sizing: border-box; */
    /* background-color: black; */
}

/* Title and buttons */
.daily-title-and-btns {
    background-color: green;
    color: #C6C1BA;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.daily-edit {
    padding: 8px 12px;
}

.daily-edit.cancel {
    background-color: transparent;
    border: none;
    color: #C6C1BA;
}

.daily-edit.save {
    background-color: #181A1b;
    border: none;
    color: #C6C1BA;
}

/* Top of form */
.daily-edit-form-top {
    background-color: green;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.daily-edit-form-top-input {
    background-color: rgba(128, 128, 128, 0.596);
    width: 100%;
    color: white;
    padding: 12px;
    box-sizing: border-box;
}
.daily-edit-form-top-input::placeholder{
    color:rgba(255, 255, 255, 0.572)
}

.daily-edit-input-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6px;
}

.daily-edit-input-ctn > label {
    font-size: 20px;
}

/* Bottom of form */
.daily-edit-form-bottom {
    padding: 0 24px 24px;
    background-color: #181A1b;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Habit Type Buttons */
.edit-daily-plus-and-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.daily-btn-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}



/* Daily Select Inputs */
.edit-daily-select-ctn {
    display: flex;
    flex-direction: column;
}

.edit-daily-select-ctn > select {
    padding: 0 8px;
}

/* Advanced Options */
.advanced-options-chevron {
    display: flex;
    justify-content: space-between;
}

.advanced-options-menu {
    display: flex;
    flex-direction: column;
}

.advanced-counters {
    display: flex;
    gap: 4px;
}

.advanced-counters > div {
    display: flex;
    gap: 4px;
    width: 100%;
}

.advanced-counters > div > input {
    width: 100%;
}

.fa-square-minus, .fa-square-plus {
    font-size: 20px;
}

/* Delete Habit Button */
.edit-daily-del {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: green;
}

.edit-daily-del-btn {
    color: red;
    background-color: transparent;
    border: none;
    text-shadow: black 3px 3px 3px;
    cursor: pointer;
}
