.task-grid {
    padding: 16px 12px 0 12px;
    display: grid;
    column-gap: 12px;
    /* grid-template-columns: repeat(auto-fill, minmax(215px, 700px)); */
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 650px) {
    .task-grid{
        display: flex;
        flex-direction: column;
    }
}
