/* DRAGGING */
.draggable {
    background-color: blue;
}

/* Habits container */
.habit-ctn {
    background-color: #222526;
    padding: 8px;
    color: #C6C1BA;
}

.habit_filter_by:hover {
    cursor: pointer;
}

.habit_filter_by.active {
    text-decoration: underline;
}

.habit-title-and-sort {
    display: flex;
    justify-content: space-between;
}

.habit-sorts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Habit Quick Add */
.habit-quick-add {
    width: 100%;
}

.habit-quick-add > input {
    box-sizing: border-box;
    height: 50px;
    padding: 12px 16px;
    border: 1px;
    margin-bottom: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    background-color: #212425;
}

/* Habit List */
.habit-list {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.habit-list-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Habit Item */
.habit-item {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: #181A1B;
    /* color: #C6C1BA; */
}

.habit-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.habit-item-counts {
    display: flex;
    justify-content: flex-end;
}


.habit-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 100%;
    background-color: #945900;
}

.habit-item-button.plus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.habit-item-button.minus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.habit-item-title-and-options {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.habits-options-menu {
    width: 100px;
    border: 1px solid black;
    border-radius: 1px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: white;
}
