.user-bar {
    height: 167px;
    padding: 9px 0 8px 24px;
    background-color: #2B1A4A;
    color: #E8E6E3;
}

.user-info {
    display: flex;
}

.user-avatar-ctn {
    height: 147px;
    width: 141px;
    background-color: yellow;
    cursor: pointer;
}

.user-stats {
    padding: 0 12px 0 24px;
    display: flex;
}

/* User Profile Modal */
.profile-modal-ctn {
    max-width: 766px;
    width: 766px;
    box-sizing: border-box;
    background-color: #181A1B;
    padding: 2em;
    border-radius: 8px;
    border: 1px solid white;
    color: #E8E6E3;
}

/* Top */
.user-profile-top {
    display: flex;
}

.avatar-img {
    width: 141px;
    height: 147px;
}
.health-and-level {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

/* Stats */
.stat-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fa-star, .fa-heart {
    width: 20px;
}

.max-stat-bar {
    width: 200px;
    height: 16px;
    position: relative;
}

.health-bar, .exp-bar {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}

.health-bar {
    background-color: red;
}

.fa-heart {
    color: red;
}

.exp-bar {
    background-color: orange;
}

.fa-star {
    color: orange;
}

/* Middle */
.user-profile-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.user-profile-links > div {
    padding: 8px 8px;
    box-sizing: border-box;
}

.user-profile-links > div:hover, .user-profile-links > div.active {
    color: #8F6DCF;
    border-bottom: 2px solid #8F6DCF;
    cursor: pointer;
}
