/* To-Do Container */
.toDo_cont{
  padding:8px
}
.todo-container {
  padding: 30px;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: silver;
}
.todo_checkBox{
  background-color: #228E23;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-item-container{
  width:100%;
}
.todo-input-container {
  display: flex;

}

.todo-input-container input {
  flex: 1;

  padding-left: 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #c6c1ba;
  height: 50px;
}
.todo_checkBox{
  padding-bottom:25px;
  border-radius: 5px;
}

.todo-input-container button {
  padding: 10px;
  border: none;
  background-color: #7D70D6;
  color: silver;
  cursor: pointer;
  border-radius: 5px;
}


/* .todo-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: #181A1B;
  border: none;
  border-radius: 5px;
} */
.outerIndContainer{
  display: flex;
  flex-direction: row;
  background-color:#181A1B;
  display: block;
  color: silver;
  min-height: 75px;
  display:flex;
  box-shadow: 1px 1px 5px black;
  margin: 2px;
  border: none;
  border-radius: 5px;
}
.todo-item {
  width: stretch;
  cursor:pointer;
  padding:0px;
  margin:0px;
}
.toDoItemTitle{
  width:stretch;
  padding-left: 15px;
  padding-top:10px;
}
.toDo_dueDate{
  width:stretch;
  font-size:12px;
  padding-top: 20px;
  color:red;
  padding-left: 15px;
}
.todo-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #FFAB73;
}

.todo-item button:hover {
  text-decoration: underline;
}

/* Todo Details Styling */
.todo-details-container {
  background-color: black;
  color: silver;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.todo-details-title {
  color: #7D70D6;
  margin-bottom: 10px;
}

.todo-details-description, .todo-details-due-date {
  color: gray;
  margin-bottom: 10px;
}

.todo-details-buttons {
  display: flex;
  gap: 10px;
}

.todo-details-edit-button, .todo-details-delete-button, .todo-details-complete-button {
 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #181a1b00;
  font-family: Arial, Helvetica, sans-serif;
  color: #C6C1BA;
  font-size: 16px;
}

.todo-details-edit-button {
  background-color: #181a1b00;
  font-family: Arial, Helvetica, sans-serif;
  color: #C6C1BA;
  font-size: 16px;
}

.todo-details-delete-button {
  background-color: #181a1b00;
  font-family: Arial, Helvetica, sans-serif;
  color: #C6C1BA;
  font-size: 16px;
}
.todo-details-edit-button:hover{
  color:#7D70D6
}
.todo-details-delete-button:hover{
  color:#7D70D6
}

.todo-details-complete-button {
  background-color: silver;
  color: black;
}

/* Todo Form Styling */
.todo-form-ctn {
  background-color: #2b2b2b;
  border-radius: 8px;
  color: #c6c1ba;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.todo-form-group {
  margin-bottom: 15px;
}

.todo-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: silver;
}

.todo-form-input, .todo-form-textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color:#C6C1BA;
}

.todo-form-buttons {
  display: flex;
  justify-content: space-between;
}

.todo-form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-form-button.save {
  background-color: #181A1B;
  color:white;
}

.todo-form-button.cancel {
  background-color: #181A1b;
  color: white;
}

.todo-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.todo-header-container h2 {
  margin: 0;
}

.todo-tab-container {
  display: flex;
  justify-content: flex-end;
}
.quests{
  color:#C6C1BA;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.scheduledQuest, .activeQuest, .completedQuest {
  padding-top: 5px;
  font-size:12px;
  background-color: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color:#C6C1BA;
  cursor: pointer;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  margin-left: 5px;
}

.scheduledQuest:hover, .activeQuest:hover, .completedQuest:hover {
  background-color: transparent;
}

.scheduledQuest.active, .activeQuest.active, .completedQuest.active {
  color: #7D70D6;

  text-decoration: underline 2px;
  background-color: transparent;
}

h2 {
  margin-bottom: 10px;
}

.todo-tab-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.dat-boi{
  margin:20px;
}
