/* To-Do Container */
.todo-container {
  padding: 20px;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: silver;
}

.todo-input-container {
  display: flex;
  margin-bottom: 10px;
}

.todo-input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #c6c1ba;
}

.todo-input-container button {
  padding: 10px;
  border: none;
  background-color: #7D70D6;
  color: silver;
  cursor: pointer;
  border-radius: 5px;
}


.todo-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: black;
  border: none;
  border-radius: 5px;
}

.todo-item {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
  color: silver;
}

.todo-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #FFAB73;
}

.todo-item button:hover {
  text-decoration: underline;
}

/* Todo Details Styling */
.todo-details-container {
  background-color: black;
  color: silver;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.todo-details-title {
  color: purple;
  margin-bottom: 10px;
}

.todo-details-description, .todo-details-due-date {
  color: gray;
  margin-bottom: 10px;
}

.todo-details-buttons {
  display: flex;
  gap: 10px;
}

.todo-details-edit-button, .todo-details-delete-button, .todo-details-complete-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-details-edit-button {
  background-color: purple;
  color: silver;
}

.todo-details-delete-button {
  background-color: gray;
  color: black;
}

.todo-details-complete-button {
  background-color: silver;
  color: black;
}

/* Todo Form Styling */
.todo-form-ctn {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  color: #c6c1ba;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.todo-form-group {
  margin-bottom: 15px;
}

.todo-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: silver;
}

.todo-form-input, .todo-form-textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color:#C6C1BA;
}

.todo-form-buttons {
  display: flex;
  justify-content: space-between;
}

.todo-form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-form-button.save {
  background-color: #9E4000;
  color: #FFAB73;
}

.todo-form-button.cancel {
  background-color: #181A1b;
  color: #FFAB73;
}

.todo-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.todo-header-container h2 {
  margin: 0;
}

.todo-tab-container {
  display: flex;
  justify-content: flex-end;
}
.quests{
  color:#C6C1BA;
  font-size: 20px;
}
.scheduledQuest, .activeQuest, .completedQuest {
  font-size:12px;
  background-color: transparent;
  border: none;
  color:#C6C1BA;
  cursor: pointer;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  margin-left: 5px;
}

.scheduledQuest:hover, .activeQuest:hover, .completedQuest:hover {
  background-color: transparent;
}

.scheduledQuest.active, .activeQuest.active, .completedQuest.active {
  color: #7D70D6;
  border-bottom: 2px solid #7D70D6;
  background-color: transparent;
}

h2 {
  margin-bottom: 10px;
}

.todo-tab-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
